/* Customization */


/* Icon */

	.icon {
		max-height: 20px; 
		width: auto; 
		cursor: pointer;
		display: inline;
	}

/* Tooltips */

	.tooltip {
	  position: relative;
	  display: inline-block;
	}

	.tooltip .tooltiptext {
	  visibility: hidden;
	  width: 120px;
	  background-color: #3D663D;
	  color: #fff;
	  text-align: center;
	  padding: 5px 0;
	  border-radius: 6px;
	 
	  /* Position the tooltip text - see examples below! */
	  position: absolute;
	  z-index: 1;
	  top: -9px;
	  left: 130%;
	}
	.tooltip .tooltiptext::after {
	  content: " ";
	  position: absolute;
	  top: 50%;
	  right: 100%; /* To the left of the tooltip */
	  margin-top: -5px;
	  border-width: 5px;
	  border-style: solid;
	  border-color: tranalternatent #3D663D tranalternatent tranalternatent;
	}

	.tooltip:hover .tooltiptext {
	  visibility: visible;
	}

/* Hidden */

	.unorderedHide {
	  display: block;
	  transition: all ease 0.8s;
	}

	.alternateHide {
	  display: block;
	  transition: all ease 0.8s;
	}

	.orderedHide {
	  display: block;
	  transition: all ease 0.8s;
	}

	.phpLeftHide {
	  display: block;
	  transition: all ease 0.8s;
	}

	.curOverGoalHide {
	  display: block;
	  transition: all ease 0.8s;
	}

	/*.unorderedHide:hover {
	  display: block;
	}*/